* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

#logo{
    vertical-align: middle;
}

.title {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    line-height: 100%;
}

.container{
    padding: 20px;
    background-color: white;
}

body{
    background-color: rgb(238, 237, 237);
}

.menu-button{
    width: 900px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    height: 50px;
    line-height: 50px;
}

.button{
    height: 30px;
    border-radius: 8px;    
}

.first{
    width: 90px;
    margin-left: 40px;
    background-color: rgba(0, 132, 255, 0.607);
    color: white;
    border: none;
}

.second{
    width: 110px;
    border-color: grey;
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}

.todolist{
    background-color: white;
    width: 900px;
    height: 300px;
    margin: auto;
    margin-top: 2px;
    padding-left: 40px;
    padding-top: 30px;
}

.first-list{
    font-size: 35px;
    font-weight: bolder;
}

.general{
    list-style-image: url("../img/arrow-down-solid.svg");
}

.tick{
    font-size: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
}

.base{
    font-size: 20px;
    font-weight: 200px;
    padding: 10px 0 10px;
    vertical-align: middle;
}

.editorial{
    width: 80px;
    height: 25px;
    display: inline-block;
    font-size: 15px;
    color: white;
    background-color: rgb(0, 157, 255);
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
}

.violet{
    width: 80px;
    height: 25px;
    display: inline-block;
    font-size: 15px;
    color: white;
    background-color: rgb(160, 75, 206);
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
}

.cross{
    font-size: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
}

.green{
    width: 80px;
    height: 25px;
    display: inline-block;
    font-size: 15px;
    color: white;
    background-color: rgb(23, 108, 55);
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
}

.orange{
        width: 80px;
        height: 25px;
        display: inline-block;
        font-size: 15px;
        color: white;
        background-color: rgb(255, 136, 0);
        border-radius: 12px;
        text-align: center;
        vertical-align: middle;
}