* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

#logo{
    vertical-align: middle;
}

.title {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    line-height: 100%;
}

.container{
    padding: 20px;
    background-color: white;
}

body{
    background-color: rgb(238, 237, 237);
}

.container-button{
    width: 900px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}

.button{
    width: 90px;
    height: 30px;
    border-radius: 8px;
}

.first{
    margin-left: 30px;
    background-color: rgba(0, 132, 255, 0.607);
    color: white;
    border: none;
    text-align: center;
}